/Lesson1/MyFirstJavaProject/build/
/Lesson1/MyFirstJavaProject/nbproject/private/
/Lectures/L2-Petstore/Petstore/nbproject/private/
/Challenge2/Rdcb2fHelloWorldS21/nbproject/private/
/Challenge2/Rdcb2fHelloWorldS21/build/
/Lectures/L2-Petstore/Petstore/build/
/Challenge3/Rdcb2fLanguageBasicsS21/nbproject/private/
/Challenge3/Rdcb2fLanguageBasicsS21/build/
/Challenge4/Rdcb2fMoviesS21/nbproject/private/
/Challenge4/Rdcb2fMoviesS21/build/
/Lectures/L8/LoginForm/nbproject/private/
/Lectures/L8/LoginForm/dist/
/Lectures/L8/LoginForm/build/
/Lectures/L8/DocumentEditor1/nbproject/private/
/Lectures/L9/DocumentEditor2/nbproject/private/
/Challenge5/Rdcb2fGPACalculatorS21/nbproject/private/
/Challenge5/Rdcb2fGPACalculatorS21/build/
/Challenge5/Rdcb2fGPACalculatorS21/dist/
/Lectures/L10/MyStopWatch/nbproject/private/
/Lectures/L10/MyStopWatch/build/
/Lectures/L10/MyStopWatch/dist/
/Lectures/L11/MyNewStopWatch/nbproject/private/
/Lectures/L11/MyNewStopWatch/dist/
/Lectures/L11/MyNewStopWatch/build/
/Lectures/L12/MyFirstFXMLApp/nbproject/private/
/Challenge6/Rdcb2fTimerStopwatchS21/nbproject/private/
/Challenge6/Rdcb2fTimerStopwatchS21/build/
/Challenge6/Rdcb2fTimerStopwatchS21/dist/
/Lectures/L14/TextEditor/nbproject/private/
/Lectures/L15/ImageViewTest/nbproject/private/
/Challenge7/Rdcb2fFXMLCPUMonitorS21/nbproject/private/
/Challenge7/Rdcb2fFXMLCPUMonitorS21/dist/
/Challenge7/Rdcb2fFXMLCPUMonitorS21/build/
/Lectures/L17/MVCExample/nbproject/private/
/Lectures/L17/MVCExample/dist/
/Lectures/L17/MVCExample/build/
/Lectures/L18/MVCStopwatch/nbproject/private/
/Lectures/L18/MVCStopwatch/dist/
/Lectures/L18/MVCStopwatch/build/
/Lectures/L19/MvcCpuMonitorFxml/nbproject/private/
/Lectures/L19/MvcCpuMonitorFxml/build/
/Lectures/L19/MvcCpuMonitorFxml/dist/
/Challenge8/Rdcb2fMVCTimerStopwatchFXMLS21/nbproject/private/
/Challenge8/Rdcb2fMVCTimerStopwatchFXMLS21/dist/
/Challenge8/Rdcb2fMVCTimerStopwatchFXMLS21/build/
/Lectures/L20/PetStoreUML(DuringClass)/nbproject/private/
/Lectures/L20/PetStoreUML(DuringClass)/build/
/Challenge9/LibraryUMLS21/nbproject/private/
/Challenge9/LibraryUMLS21/build/
/Lectures/L22/ListAndSetDemo/nbproject/private/
/Lectures/L22/HashMapExample/nbproject/private/
/Lectures/L25/ObjectPlay/nbproject/private/
/Lectures/L25/ObjectPlay/build/
/Lectures/L26/MediaPlay/nbproject/private/
/Lectures/L26/MediaPlay/dist/
/Lectures/L26/MediaPlay/build/
/Lectures/L26/AudioVisual/nbproject/private/
/Lectures/L26/AudioVisual/build/
/Lectures/L26/AudioVisual/dist/
/Lectures/L27/AudioViz(DuringClass)/nbproject/private/
/Lectures/L27/AudioViz(DuringClass)/dist/
/Lectures/L27/AudioViz(DuringClass)/build/
/Challenge10/AudioVizStarterCodeS21/nbproject/private/
/Challenge10/AudioVizStarterCodeS21/dist/
/Challenge10/AudioVizStarterCodeS21/build/
/Lectures/L28/ClickPointAnim/nbproject/private/
/Lectures/L29/ThreadPlayground(DuringClass)/nbproject/private/
/Lectures/L28/ClickPointAnim/build/
/Lectures/L28/ClickPointAnim/dist/
/Challenge10/Rdcb2fAudioVizS21/build/
/Challenge10/Rdcb2fAudioVizS21/dist/
/Challenge10/Rdcb2fAudioVizS21/nbproject/private/