/Lesson1/MyFirstJavaProject/build/
/Lesson1/MyFirstJavaProject/nbproject/private/
/Lectures/L2-Petstore/Petstore/nbproject/private/
/Challenge2/Rdcb2fHelloWorldS21/nbproject/private/
/Challenge2/Rdcb2fHelloWorldS21/build/
/Lectures/L2-Petstore/Petstore/build/
/Challenge3/Rdcb2fLanguageBasicsS21/nbproject/private/
/Challenge3/Rdcb2fLanguageBasicsS21/build/
/Challenge4/Rdcb2fMoviesS21/nbproject/private/
/Challenge4/Rdcb2fMoviesS21/build/
/Lectures/L8/LoginForm/nbproject/private/
/Lectures/L8/LoginForm/dist/
/Lectures/L8/LoginForm/build/
/Lectures/L8/DocumentEditor1/nbproject/private/
/Lectures/L9/DocumentEditor2/nbproject/private/
/Challenge5/Rdcb2fGPACalculatorS21/nbproject/private/
/Challenge5/Rdcb2fGPACalculatorS21/build/
/Challenge5/Rdcb2fGPACalculatorS21/dist/